body {
    padding-top: 56px;
}
table.dataTable {
    font-size: 0.8rem;
}
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
}

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    padding-top: 20px;
    color: black;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.sidebar a {
    color: black;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #f0f0f0;
}

.sidebar a.active {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.content {
    margin-left: 260px;
    padding: 20px;
}

.page {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.page.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .content {
        margin-left: 0;
    }
    .navbar-collapse {
        background-color: white !important;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}
